body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #808080;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.message-toolbaar-icon {
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.icon-style {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 10px;
  font-size: 12px;
  filter: drop-shadow(0 0 2px #000000);
}
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}
